*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    display: flex;
}

.div cris{
  background-color: blue;
  text-align: center;
  border-radius: 27px;
}

.div h1{
    display: flex;
    text-align: center;
}
.div h2{
    display: flex;
    text-align: center;
}

.div p{
    display: flex;
    text-align: center;
}

section{
   align-items: center;
   justify-content: center;
   display: flex;
   
}
